services:
  backend:
    container_name: backend
    image: backend-image:latest
    build:
      context: ./backend
      dockerfile: ./Dockerfile
    environment:
      - DEBUG_PORT=9090
      - SPRING_DATASOURCE_URL=jdbc:postgresql://${POSTGRES_DB_HOST}:5432/${POSTGRES_DB_NAME}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app/code
      - ./generated-scripts:/app/generated
    depends_on:
      - postgres

  frontend:
    container_name: app-frontend
    image: app-frontend-image:latest
    build:
      context: ./frontend
      dockerfile: ./Dockerfile
    ports:
      - 5173:5173
    working_dir: /app-frontend
    volumes:
      - ./frontend:/app-frontend
      - /app-frontend/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend

  postgres:
    container_name: postgres
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: