version: "3.9"

services:
  frontend:
    container_name: app_frontend
    build: ./frontend
    ports:
      - "5173:5173"
    working_dir: /app-frontend
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "lsof", "-t", "-i:5173"]
      timeout: 10s
      retries: 5

  backend:
    container_name: app_backend
    build: ./backend
    ports:
      - "8080:8080"
    working_dir: /app
    volumes:
      - ./backend:/app
      - ~/.m2:/root/.m2
    depends_on:
      - db
    environment:
      - DATABASE_URL=jdbc:postgresql://db:5432/db
      - DATABASE_USERNAME=mateco
      - DATABASE_PASSWORD=1234
      - SPRING_DEVTOOLS_RESTART_POLL_INTERVAL=2s
      - SPRING_DEVTOOLS_RESTART_QUIET_PERIOD=1s
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "lsof", "-t", "-i:8080"]
      timeout: 10s
      retries: 5

  db:
    image: postgres:16
    hostname: postgres
    container_name: postgres-db
    ports:
      - "5432:5432"
    volumes:
      - report_generator_db:/var/lib/postgresql/data
    networks:
      - app-network
    environment:
      POSTGRES_USER: mateco
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: db

networks:
  app-network:
    driver: bridge
volumes:
  report_generator_db:
